<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fortum.nokid.buchrechmc" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_accounting"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.FullQuestionActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.BucketListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.PdfActivity"></activity>
        <activity android:name=".Sprint.SprintSetupActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Sprint.SprintResultActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".Activities.FullExerciseActivity" android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ae4d41899a059fa8686bd8a5bd4db5e25d38f086" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
